/* header */
header {
  width: 100%;
  height: auto;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------- */

/* NAVIGATION BAR */

.admin-navbar-header {
  width: 100%;
}
.admin-navbar-header .admin-navbar-custom {
  background-color: #1c1a18;
  border: 1px solid #1c1a18;
  border-radius: 0%;
}
.admin-navbar-header .admin-navbar-custom a {
  color: white;
}
.admin-navbar-custom .nav-item.active,
.admin-navbar-custom .nav-item:hover .nav-link,
.dropdown-menu .dropdown-item.active {
  background-color: #1c1a18;
  color: #ffc344;
}
.navbar-nav a {
  font-size: 1.75rem;
  font-weight: 400;
}
.admin-navbar-custom .dropdown-menu,
.admin-navbar-custom .dropdown-menu button {
  background-color: #1c1a18;
  color: white;
}
.admin-navbar-custom .dropdown-menu a,
.admin-navbar-custom .dropdown-menu button {
  font-size: 1.65rem;
  font-weight: 400;
  height: auto;
  padding: 10px 20px;
  margin: auto;
  text-align: left;
}
.admin-navbar-custom .dropdown-menu a:hover,
.admin-navbar-custom .dropdown-menu button:hover {
  color: #ffc344;
  background-color: rgba(255, 255, 255, 0.15);
}
.custom-toggler.navbar-toggler {
  border-color: rgba(255, 255, 255, 0.8);
  height: 50px;
  width: 50px;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2.5' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  height: 25px;
  width: 25px;
  margin: auto;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------- */

/* ADMIN NAVIGATION TABLE */

.custom-admin-site h2 {
  color: #1c1a18;
  font-size: 2.75rem;
  font-weight: bolder;
}

.custom-admin-site h3 {
  color: #1c1a18;
  font-size: 2.5rem;
  font-weight: bold;
}

.custom-admin-site ul {
  display: flex;
  justify-content: start;
}

.custom-admin-site a {
  color: #1c1a18;
  font-size: 1.65rem;
  padding-left: 25px;
  padding-right: 25px;
}
.custom-admin-site a:hover {
  color: #ffba00;
}
.custom-admin-site a.active {
  color: #1c1a18;
  font-weight: 700;
}

@media screen and (max-width: 720px) {
  .custom-admin-site a {
    color: #1c1a18;
    font-size: 1.65rem;
  }
}
@media screen and (max-width: 480px) {
  .custom-admin-site ul {
    display: flex;
    justify-content: center;
  }
  .custom-admin-site a {
    color: #1c1a18;
    font-size: 1.4rem;
    padding-left: 5px;
    padding-right: 5px;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Admin Table */

.custom-admin-cinema-table table,
.custom-admin-users-table table,
.custom-admin-movies-table table {
  cursor: default;
  min-width: 100%;
  border: 1px solid rgba(28, 26, 24, 0.5);
  font-weight: 500;
  font-size: 1.5rem;
}

.custom-admin-cinema-table thead,
.custom-admin-users-table thead,
.custom-admin-movies-table thead {
  color: #fff;
  background-color: #1c1a18;
}

.custom-admin-cinema-table button,
.custom-admin-users-table button,
.custom-admin-movies-table button {
  background-color: rgba(255, 186, 0, 1);
  border: 1px solid rgba(255, 186, 0, 1);
  color: #fff;
  font-weight: 500;
  font-size: 1.45rem;
}
.custom-admin-cinema-table button:hover,
.custom-admin-users-table button:hover,
.custom-admin-movies-table button:hover,
.custom-admin-cinema-table button:focus,
.custom-admin-users-table button:focus,
.custom-admin-movies-table button:focus {
  background-color: rgba(255, 186, 0, 0.75);
  border: 1px solid rgba(255, 186, 0, 0.75);
  box-shadow: none;
  color: #1c1a18;
  font-weight: 500;
}

.custom-admin-movies-table .custom-edit-btn {
  background-color: rgba(28, 26, 24, 1);
  border: 1px solid rgba(28, 26, 24, 1);
  color: #fff;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 11px 18px 11px 18px;
}
.custom-admin-movies-table .custom-edit-btn:hover,
.custom-admin-movies-table .custom-edit-btn:focus {
  background-color: rgba(255, 186, 0, 0.75);
  border: 1px solid rgba(255, 186, 0, 0.75);
  box-shadow: none;
  color: #1c1a18;
  font-weight: 500;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1c1a18;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Footer */

.footer-custom {
  background-color: #3f3f3f;
  color: white;
}
.footer-custom h3 {
  color: white;
  font-size: 1.75rem;
  font-weight: bold;
}
.footer-custom a {
  color: white;
  font-size: 1.5rem;
  line-height: 1.75;
}
.footer-custom a:hover {
  color: #ffc344;
  text-decoration: none;
}
.footer-copyright {
  background-color: #1c1a18;
  color: white;
}
.footer-copyright p {
  margin: 0;
  font-size: 1.25rem;
}
.footer-copyright a {
  margin: 0;
  font-size: 1.25rem;
}

.aboutus-title {
  color: #1c1a18;
  font-size: 2rem;
  font-weight: bold;
}
.aboutus-subtitle {
  color: #1c1a18;
  font-size: 1.5rem;
  font-weight: 700;
}
.aboutus p {
  color: #1c1a18;
  font-size: 1.15rem;
  margin: 5px 20px 5px 20px;
  line-height: 2.25rem;
}
.aboutus-p {
  text-indent: 3rem;
  text-align: justify;
}
