/* Carousel */

.carousel-announcement {
  background: #eaeaea;
  background-size: cover;
  height: 30vw;
  width: 100%;
}

.carousel-image-desktop {
  height: 30vw;
  object-fit: cover;
  margin-left: 6vw;
  margin-right: 10px;
  filter: saturate(75%);
}
.carousel-image-mobile {
  height: auto;
  width: 100%;
  object-fit: cover;
  filter: saturate(75%);
}

.carousel-announcement h1 {
  text-align: center;
  font-weight: bold;
  font-size: 5vw;
  cursor: default;
}
.carousel-announcement h2 {
  text-align: center;
  font-weight: bold;
  font-size: 4vw;
  cursor: default;
}
.carousel-announcement h3 {
  margin-left: 9.5vw;
  text-align: left;
  font-size: 2vw;
  cursor: default;
}
