/* Now Showing & Coming Soon */

.movies-list-container h3 {
  color: #1c1a18;
  font-size: 2rem;
  font-weight: bold;
  cursor: default;
}

.custom-table {
  width: 100%;
}
.custom-table:hover {
  background-color: #dddddd;
}

@media screen and (max-width: 480px) {
  .movies-list-container h3 {
    color: #1c1a18;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: default;
  }
  .custom-table .custom-movies-description {
    height: auto;
    width: 100%;
  }
  .custom-movies-description h4 {
    color: #1c1a18;
    font-size: 1rem;
    font-weight: 600;
    cursor: default;
  }
  .custom-movies-description p {
    color: #1c1a18;
    font-size: 0.5rem;
    text-align: justify;
    cursor: default;
  }
}

.custom-movies-description h4 {
  color: #1c1a18;
  font-size: 1.75rem;
  font-weight: 600;
  cursor: default;
}
.custom-movies-description p {
  color: #1c1a18;
  font-size: 1.15rem;
  text-align: justify;
  cursor: default;
}
.custom-movies-description a {
  color: #1c1a18;
  font-size: 1.15rem;
  text-align: justify;
  font-weight: 500;
}
.custom-movies-description a:hover {
  color: #ffba00;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .custom-movies-description h4 {
    color: #1c1a18;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: default;
  }
  .custom-movies-description p {
    color: #1c1a18;
    font-size: 1rem;
    text-align: justify;
    cursor: default;
  }
  .custom-movies-description a {
    color: #1c1a18;
    font-size: 1rem;
    text-align: justify;
    font-weight: 500;
  }
  .custom-movies-description a:hover {
    color: #ffba00;
    text-decoration: underline;
  }
}

.movies-list-container .buy-button2 {
  background-color: #ffba00;
  border: 1px solid #ffba00;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.75rem;
  width: 10rem;
  padding: 0;
  margin: 0;
}
.movies-list-container .buy-button2:hover,
.movies-list-container .buy-button2:focus {
  background-color: #fcc736;
  border: 1px solid #fcc736;
  box-shadow: none;
  color: #1c1a18;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .movies-list-container .buy-button2 {
    background-color: #ffba00;
    border: 1px solid #ffba00;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2.5rem;
    width: 8rem;
    padding: 0;
    margin: 0;
  }
  .movies-list-container .buy-button2:hover,
  .movies-list-container .buy-button2:focus {
    background-color: #fcc736;
    border: 1px solid #fcc736;
    box-shadow: none;
    color: #1c1a18;
    text-align: center;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Search Results and Movie Not Found */

.search-results-container {
  color: #1c1a18;
}

.search-results-container .movies-list-container h3 {
  color: #1c1a18;
  font-size: 2rem;
  font-weight: bold;
  cursor: default;
}

.search-results-container .custom-table {
  width: 100%;
}
.search-results-container .custom-table:hover {
  background-color: #dddddd;
}

.search-results-container .custom-not-found h4 {
  color: #1c1a18;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  cursor: default;
}

.search-results-container .custom-not-found p {
  font-size: 1.25rem;
  text-decoration: none;
  color: #1c1a18;
  cursor: default;
}

.search-results-container .custom-not-found a {
  font-size: 1.25rem;
  font-weight: 500;
  text-decoration: none;
  color: #1c1a18;
}
.search-results-container .custom-not-found a:hover {
  color: #ffba00;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .movies-list-container h3 {
    color: #1c1a18;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: default;
  }
  .search-results-container .custom-table .custom-movies-description {
    height: auto;
    width: 100%;
  }
  .search-results-container .custom-movies-description h4 {
    color: #1c1a18;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
  }
  .search-results-container .custom-movies-description p {
    color: #1c1a18;
    font-size: 0.5rem;
    text-align: justify;
    cursor: default;
  }

  .search-results-container .custom-not-found h4 {
    color: #1c1a18;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
  }

  .search-results-container .custom-not-found p {
    font-size: 1rem;
    text-decoration: none;
    color: #1c1a18;
    cursor: default;
  }

  .search-results-container .custom-not-found a {
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    color: #1c1a18;
  }
}

.search-results-container .custom-movies-description h4 {
  color: #1c1a18;
  font-size: 1.75rem;
  font-weight: 600;
  text-decoration: none;
  cursor: default;
}
.search-results-container .custom-movies-description p {
  color: #1c1a18;
  font-size: 1.15rem;
  text-align: justify;
  cursor: default;
}
.search-results-container .custom-movies-description a {
  color: #1c1a18;
  font-size: 1.15rem;
  text-align: justify;
  font-weight: 500;
}
.search-results-container .custom-movies-description a:hover {
  color: #ffba00;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .search-results-container .custom-movies-description h4 {
    color: #1c1a18;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
  }
  .search-results-container .custom-movies-description p {
    color: #1c1a18;
    font-size: 1rem;
    text-align: justify;
    cursor: default;
  }
  .search-results-container .custom-movies-description a {
    color: #1c1a18;
    font-size: 1rem;
    text-align: justify;
    font-weight: 500;
  }
  .search-results-container .custom-movies-description a:hover {
    color: #ffba00;
    text-decoration: underline;
  }
  .search-results-container .custom-not-found h4 {
    color: #1c1a18;
    font-size: 1.25rem;
    font-weight: 600;
    text-decoration: none;
    cursor: default;
  }

  .search-results-container .custom-not-found p {
    font-size: 1.15rem;
    text-decoration: none;
    color: #1c1a18;
    cursor: default;
  }

  .search-results-container .custom-not-found a {
    font-size: 1.15rem;
    font-weight: 500;
    text-decoration: none;
    color: #1c1a18;
  }
}

.movies-list-container .buy-button2 {
  background-color: #ffba00;
  border: 1px solid #ffba00;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 2.75rem;
  width: 10rem;
  padding: 0;
  margin: 0;
}
.movies-list-container .buy-button2:hover,
.movies-list-container .buy-button2:focus {
  background-color: #fcc736;
  border: 1px solid #fcc736;
  box-shadow: none;
  color: #1c1a18;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 800px) {
  .movies-list-container .buy-button2 {
    background-color: #ffba00;
    border: 1px solid #ffba00;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 2.5rem;
    width: 8rem;
    padding: 0;
    margin: 0;
  }
  .movies-list-container .buy-button2:hover,
  .movies-list-container .buy-button2:focus {
    background-color: #fcc736;
    border: 1px solid #fcc736;
    box-shadow: none;
    color: #1c1a18;
    text-align: center;
  }
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Movie Profile */

.custom-movie-profile {
  color: #fff;
}
.opacity {
  background-image: linear-gradient(
    rgba(28, 26, 24, 0.6),
    rgba(28, 26, 24, 0.98)
  );
  background-size: cover;
  min-height: 88.5vh;
}

.custom-movie-poster {
  width: 220px;
  height: 250px;
  object-fit: cover;
  margin: auto;
}
.custom-movie-profile-poster {
  width: 220px;
  padding-left: 10px;
  padding-right: 10px;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .custom-movie-poster {
    width: 220px;
    height: 240px;
    object-fit: cover;
    margin: auto;
  }
  .custom-movie-profile-poster {
    width: 190px;
    padding-left: 5px;
    padding-right: 5px;
    height: 250px;
    object-fit: cover;
  }
}
@media screen and (max-width: 480px) {
  .custom-movie-poster {
    width: 100%;
    height: 350px;
    object-fit: cover;
    margin: auto;
  }
  .custom-movie-profile-poster {
    width: 250px;
    padding-left: 10px;
    padding-right: 10px;
    height: 330px;
    object-fit: cover;
  }
}

.custom-movie-profile h3 {
  font-size: 2.75rem;
  font-weight: bold;
  cursor: default;
}
.custom-movie-profile hr {
  border-top: 1px solid #fff;
}
.custom-movie-profile h6 {
  font-size: 1.15rem;
  font-weight: 400;
  cursor: default;
}
.custom-movie-profile .imdbRatingPlugin {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  margin: auto;
}

.custom-movie-profile h4 {
  font-size: 1.75rem;
  font-weight: 700;
  text-decoration: underline;
  cursor: default;
}
.custom-movie-profile p {
  font-size: 1.15rem;
  font-weight: 400;
  text-align: justify;
  line-height: 1.5;
  cursor: default;
}

.custom-movie-profile .watch-btn,
.custom-movie-profile .watch-btn:focus {
  color: #fff;
  background-color: #ffba00;
  padding: auto;
  box-shadow: none;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}
.custom-movie-profile .watch-btn:hover {
  color: #1c1a18;
  background-color: rgba(255, 195, 68, 1);
  box-shadow: none;
}

@media screen and (max-width: 720px) {
  .custom-movie-poster {
    width: 100%;
    padding-left: 10px;
    padding-right: 0;
  }

  .custom-movie-profile h3 {
    font-size: 2.15rem;
    font-weight: bold;
    cursor: default;
  }
  .custom-movie-profile hr {
    border-top: 1px solid #fff;
  }
  .custom-movie-profile h6 {
    font-size: 1rem;
    font-weight: 400;
    cursor: default;
  }
  .custom-movie-profile .imdbRatingPlugin {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: auto;
  }

  .custom-movie-profile h4 {
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: default;
  }
  .custom-movie-profile p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
    line-height: 1.5;
    cursor: default;
  }

  .custom-movie-profile .watch-btn,
  .custom-movie-profile .watch-btn:focus {
    color: #fff;
    background-color: #ffba00;
    padding: auto;
    box-shadow: none;
    font-size: 0.85rem;
    font-weight: 500;
    text-align: center;
  }
  .custom-movie-profile .watch-btn:hover {
    color: #1c1a18;
    background-color: rgba(255, 195, 68, 1);
    box-shadow: none;
  }
}

.custom-trailer-modal .modal-body {
  background: #000;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Movie Profile Transaction */

.movie-navbar {
  background-image: linear-gradient(
    rgba(28, 26, 24, 0.97),
    rgba(28, 26, 24, 1)
  );
}

.custom-movie-toggler,
.custom-movie-toggler:focus,
.custom-movie-toggler:active {
  width: 100%;
  color: #fff;
  background-image: linear-gradient(
    rgba(28, 26, 24, 0.96),
    rgba(28, 26, 24, 1)
  );
  box-shadow: none;
  outline: none;
  border: none;
  border-radius: 0;
}

.movie-navbar .custom-select,
.movie-navbar .custom-select:focus {
  font-weight: bold;
  box-shadow: none;
  border: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Navigation Bar Seat Reservation */

.custom-movie-profile-more label {
  font-weight: 500;
}

/* Seat Reservation Form */
.custom-seats {
  background-color: #f3f3f3;
}

.seat-reservation-form table {
  border: none;
}

.seat-reservation-form h6 {
  font-size: 1.25rem;
  font-weight: bold;
  cursor: default;
}

.custom-seats {
  border-left: 1px solid rgba(28, 26, 24, 0.5);
  border-right: 1px solid rgba(28, 26, 24, 0.5);
}

/* Check Box */
.custom-checkbox input[type="checkbox"]:enabled + label::before,
.custom-checkbox input[type="checkbox"]:enabled + label::after {
  background-color: #fff;
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid rgba(28, 26, 24, 0.5);
  transition: 300ms ease-out;
}

.custom-checkbox input[type="checkbox"]:checked + label::before,
.custom-checkbox input[type="checkbox"]:checked + label::after {
  background-color: #ffba00;
  box-shadow: none;
  border-radius: 3px;
  border: 1px solid rgba(28, 26, 24, 0.3);
  transition: 300ms ease-out;
}

.custom-checkbox input[type="checkbox"]:active + label::before,
.custom-checkbox input[type="checkbox"]:active + label::after {
  background-color: rgba(255, 195, 68, 0.75);
  border: 1px solid rgba(28, 26, 24, 0.5);
  border-radius: 3px;
  box-shadow: none;
}

.custom-checkbox input[type="checkbox"]:focus + label::before,
.custom-checkbox input[type="checkbox"]:focus + label::after {
  background-color: none;
  border: 1px solid rgba(28, 26, 24, 0.5);
  box-shadow: none;
  border-radius: 3px;
  transition: 250ms ease-in;
}

.custom-checkbox input[type="checkbox"]:disabled + label::before,
.custom-checkbox input[type="checkbox"]:disabled + label::after {
  background-color: rgba(28, 26, 24, 0.6);
  border: 1px solid rgba(28, 26, 24, 0.5);
  border-radius: 3px;
  box-shadow: none;
  color: red;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

.transaction-table-title {
  font-size: 1.25rem;
}

.custom-transaction table {
  border: none;
  font-size: 1.05rem;
}

.custom-transaction .transaction-table-subtitle,
.custom-transaction .transaction-table-total {
  font-weight: 600;
}

.transaction-button .buy-ticket-button,
.transaction-button .buy-ticket-button:focus {
  color: #fff;
  background-color: #ffba00;
  box-shadow: none;
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
  height: 3rem;
  padding: auto;
}
.transaction-button .buy-ticket-button:hover {
  color: #1c1a18;
  background-color: rgba(255, 195, 68, 1);
  box-shadow: none;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Transaction Guidelines */

.transaction-guidelines h4 {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  cursor: default;
}
.transaction-guidelines ol,
.transaction-guidelines p {
  font-size: 1.1rem;
  cursor: default;
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Coming Soon */
.coming-soon-bottom {
  background-image: linear-gradient(
    rgba(28, 26, 24, 0.97),
    rgba(28, 26, 24, 1)
  );
}
.coming-soon-bottom h3 {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-align: left;
  cursor: default;
}
.coming-soon-bottom h6 {
  color: #ffba00;
  font-size: 1.15rem;
  font-weight: 500;
  cursor: default;
}
.coming-soon-bottom p {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 400;
  text-align: left;
  cursor: default;
}
.coming-soon-bottom a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 500;
  text-align: left;
}
.coming-soon-bottom a:hover {
  color: #ffba00;
  font-size: 1.15rem;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}
