.signup-form h3 {
  color: #1c1a18;
  font-size: 2rem;
  font-weight: bold;
}

.signup-form h4 {
  color: #1c1a18;
  font-size: 1.5rem;
  font-weight: 700;
}

.signup-form label {
  color: #1c1a18;
  font-size: 1.15rem;
  font-weight: 500;
}

.signup-form input {
  width: 98%;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
  color: #1c1a18;
  border: 1px solid rgba(28, 26, 24, 0.5);
}

/* Remove Arrows for Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove Arrows for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.signup-form .radio-button {
  height: auto;
  width: auto;
  color: #1c1a18;
}

.gender-form {
  margin: auto;
}
.gender-form label {
  font-size: 1.05rem;
  font-weight: 400;
}

.signup-form .custom-form-check {
  width: 100%;
}
.signup-form .custom-form-check .check-box {
  height: auto;
  width: auto;
}
.signup-form .custom-form-check .confirmation-label {
  color: #1c1a18;
  font-size: 0.9rem;
  margin: 10px;
}
.signup-form .custom-form-check .confirmation-label a {
  color: #1c1a18;
  cursor: pointer;
  font-weight: 700;
}

.btn.custom-cancel {
  width: 100%;
  padding: 7px;
  background-color: #fcfcfc;
  border: 1px solid rgba(179, 23, 18, 1);
  color: #ff0000;
}
.btn.custom-cancel:hover,
.btn.custom-cancel:focus {
  background-color: #f0f0f0;
  border: 1px soli d rgba(179, 23, 18, 1);
  box-shadow: none;
  color: #e52d27;
}

.btn.custom-signup {
  padding: 0;
  background-color: rgba(255, 195, 68, 1);
  border: 1px solid rgba(255, 195, 68, 1);
  color: #fff;
}
.btn.custom-signup:hover,
.btn.custom-signup:focus {
  background-color: rgba(255, 195, 68, 1);
  border: 1px solid rgba(255, 195, 68, 1);
  box-shadow: none;
  color: #1c1a18;
}

.btn.custom-close {
  background-color: rgba(255, 195, 68, 1);
  border: 1px solid rgba(255, 195, 68, 1);
  color: #fff;
}
.btn.custom-close:hover,
.btn.custom-close:focus {
  background-color: rgba(255, 195, 68, 1);
  border: 1px solid rgba(255, 195, 68, 1);
  box-shadow: none;
  color: #1c1a18;
}

/* FORGOT PASS */

label[id="forgot-code-label"],
input[id="forgot-code"] {
  display: none;
}

label[id="forgot-password-label"],
input[id="forgot-password"],
input[id="forgot-re-password"] {
  display: none;
}

span[id="forgot-pass-error"],
span[id="forgot-confirm-error"] {
  color: #28a745;
}
